* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 90%;
    min-width: 50%;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
}

.botoes-login {
    justify-content: end;
    align-items: center;
}

.become-member {
    text-decoration: none;
    color: #808080;
}

.botoes-login a {
    padding: 10px;
}

.botoes-login button {
    padding: 10px;
}

.cabecalho h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.6em;
    margin-top: 0;
}

.menu-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    min-width: 50%;
    padding-top: 20px;
    margin-left: 10%;
}

.menu-principal a {
    text-transform: uppercase;
    text-decoration: none;
    color: #808080;
}

section {
    margin-top: 30px;
}